In [7]:
# 1- Data Structure- Dictionary

In [6]:
# Print the Dictionary
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27} 
print(Employee_data)

{101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

In [1]:
#Identify the senior most employee age
# employee data with key as id of the employee and values as age of the employee

Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27} 
print(max(Employee_data.values()))

45

In [2]:
#Identify the age of employee with 159 employee id
if 159 in Employee_data.keys() :
  print(Employee_data[159])
else:
  print("NA")

NA

In [3]:
#count total number of employees in organisation
print(len(Employee_data))

74

In [4]:
#get mean age of employees
print(sum(Employee_data.values())/ len(Employee_data))

31.364864864864863

In [1]:
#update age of employee 104,140,164 as 27
#delete employee 143
#calculate mean
Employee_data[104]=27
Employee_data[140]=27
Employee_data[164]=27
Employee_data.pop(143)
print(sum(Employee_data.values())/ len(Employee_data))

NameError: name 'Employee_data' is not defined

In [5]:
#set look up
set_1={1,2,3,4}
1 in set_1

True

In [23]:
#create a dictionary from below list and count the number of occurence

li=[2,4,5,3,2,3,4,1,5]
d={}
count=0
for i in li:
    if i in d:
        count=count+1
        d[i]=count
    else:
        d[i]=1
print(d)

{2: 1, 4: 3, 5: 4, 3: 2, 1: 1}

In [28]:
name="rh"
print(name[::-1])
list=["ab", "cc"]
print(name[0])
player=(name, list)
print(player)

hr
r
('rh', ['ab', 'cc'])

In [38]:
colors=["av", "yu"]
list=[ i for i in colors if i[0] in "aeiou"]
print(list)

['av']

In [48]:
# 8 Guess the number
# generate a random between 1-10 and store it
# then ask the user to enter a number 
# if the user choice is greater than computer choice say 'too high'
# if the user choice is smaller than computer choice say 'too low'
# if the user choice is equal to computer choice say 'correct guess'
# BONUS points: allow user a max of 3 guesses
# will need: use google to learn how to generate a random number between 1-10

import random
computer_choice = random.randint(1,10)
# print(computer_choice)

meter = 1
while meter<=3:
    user_guess= int(input('Guess the number: '))
    if user_guess>computer_choice:
        print('too high')
    elif user_guess<computer_choice:
        print('too low')
    elif user_guess==computer_choice:
        print('correct guess')
        break
    meter=meter+1
if meter==4:
    print('You LOST, correct guess was ', computer_choice)

too low
too low
too low
You LOST, correct guess was  8